.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.search {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease;
}

textarea {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease;
  resize: vertical;
  width: 100%; 
  min-height: 100px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
}

td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

tr:hover {
  background-color: #f1f1f1;
}

td:nth-child(3) {
  font-weight: bold;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

option {
  padding: 8px;
}

select:hover {
  border-color: #007bff;
}

.todo-actions {
  display: flex;
  gap: 8px;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
